<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445780512728-5nnj5e2blkv259stue8pjt4537gfqlpd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445780512728-5nnj5e2blkv259stue8pjt4537gfqlpd</string>
	<key>API_KEY</key>
	<string>AIzaSyAS9sSSNG0C2uZ88NaEgqEbsOcnE7EGPZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>445780512728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>technocode.kshkat.com</string>
	<key>PROJECT_ID</key>
	<string>marhabauae-3102f</string>
	<key>STORAGE_BUCKET</key>
	<string>marhabauae-3102f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445780512728:ios:247f9b0479a7a24c412cad</string>
</dict>
</plist>